pytest >= 8.1
pytest-mock
pytest-postgresql > 5
hypothesis >= 3.11.0
swh.core[testing] >= 3.6.3
swh.journal[pytest] >= 2.0.0
swh.storage[pytest] >= 3.1.0

celery-types
types-confluent-kafka
types-pika
types-pyyaml
types-requests
types-Deprecated
types-tabulate
