Source: swh-scheduler
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python (>= 2),
               python3-all,
               python3-arrow,
               python3-celery,
               python3-click,
               python3-elasticsearch (>= 5.4.0),
               python3-flask,
               python3-hypothesis (>= 3.11.0~),
               python3-kombu,
               python3-pika (>= 1.1.0~),
               python3-pytest,
               python3-pytest-mock,
               python3-psycopg2,
               python3-setuptools,
               python3-swh.core (>= 0.0.65~),
               python3-swh.storage (>= 0.0.129~),
               python3-swh.lister,
               python3-setuptools-scm,
               python3-pytest-postgresql,
               postgresql-contrib,
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/diffusion/DSCH/

Package: python3-swh.scheduler
Architecture: all
Depends: python3-swh.core (>= 0.0.65~), python3-swh.storage (>= 0.0.129~), ${misc:Depends}, ${python3:Depends}
Description: Software Heritage Scheduler
