#!/usr/bin/make -f

export PYBUILD_NAME=swh-scheduler

%:
	dh $@ --with python3 --buildsystem=pybuild


override_dh_auto_test:
	PYBUILD_SYSTEM=custom \
	PYBUILD_TEST_ARGS="python{version} -m nose -sv swh.core -a '!db'" \
	dh_auto_test
