#!/usr/bin/make -f

export PYBUILD_NAME=swh.scheduler
export PYBUILD_TEST_ARGS=-sv -a !db,!fs

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	dh_install
	rm -v $(CURDIR)/debian/python3-*/usr/lib/python*/dist-packages/swh/__init__.py

	for pyvers in $(shell py3versions -vr); do \
		mkdir -p $(CURDIR)/debian/python3-swh.scheduler.updater/usr/lib/python$$pyvers/dist-packages/swh/scheduler/updater/ ; \
		mv $(CURDIR)/debian/python3-swh.scheduler/usr/lib/python$$pyvers/dist-packages/swh/scheduler/updater/ \
		   $(CURDIR)/debian/python3-swh.scheduler.updater/usr/lib/python$$pyvers/dist-packages/swh/scheduler/ ; \
		mkdir -p $(CURDIR)/debian/python3-swh.scheduler.updater/usr/lib/python$$pyvers/dist-packages/swh/scheduler/updater/tests/ ; \
		mv $(CURDIR)/debian/python3-swh.scheduler/usr/lib/python$$pyvers/dist-packages/swh/scheduler/tests/updater/ \
		   $(CURDIR)/debian/python3-swh.scheduler.updater/usr/lib/python$$pyvers/dist-packages/swh/scheduler/updater/tests/ ; \
	done
